
html {
  @apply scroll-smooth ;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-display;
}

.prose {
  @apply font-body;
}

header, footer, aside, form {
  @apply font-ui;
}


h1, h2, h3, h4, h5, h6, a, section {
  scroll-margin-top: 7rem;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  overflow: auto;
}
footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  /* padding: .5rem; */
  @apply bg-base-200;
  z-index: 1020;
  
}
header {
  position: sticky;
  top: 0;
  width: 100%;
  /* padding: .5rem; */
  @apply bg-base-200 shadow-xl;
  z-index: 1020;

  .navbar {
    display: grid;
    grid-template-areas: "brand title misc";
    grid-template-columns: minmax(20%, 1fr) minmax(auto, calc(80% - 1.5rem));
    gap: 2rem;
    & > div.brand {
      grid-area: brand;
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    & > div.title {
      grid-area: title;
      display: inline-flex;
      flex-direction: column;
      align-items: start;
      margin-left: .5rem;
    }
    & > div.misc {
      grid-area: misc;
      display: inline-flex;
      align-items: end;
      margin-left: .5rem;
      & input ~ span.material-icons:before {
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        /* font-size: 24px;  /* Preferred icon size */
        display: inline-block;
        line-height: 1;
        text-transform: none;
        letter-spacing: normal;
        word-wrap: normal;
        white-space: nowrap;
        direction: ltr;
      
        /* Support for all WebKit browsers. */
        -webkit-font-smoothing: antialiased;
        /* Support for Safari and Chrome. */
        text-rendering: optimizeLegibility;
      
        /* Support for Firefox. */
        -moz-osx-font-smoothing: grayscale;
      
        /* Support for IE. */
        font-feature-settings: 'liga';
      }
      & input ~ span.swap-on:before,
      [data-theme='dark'] & input ~ span.swap-off:before {
        content: '\e518';
      }
      & input ~ span.swap-off:before, 
      [data-theme='dark'] & input ~ span.swap-on:before {
        content: '\e51c';
      }
    }

  }
}

div#content {
  --main-header-height: 5rem;
  --main-footer-height: 3.25rem;
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: minmax(20%, 1fr) minmax(auto, calc(80% - 1.5rem));
  gap: 2rem;
  width: 100%;
  padding: .5rem;

  & > aside {
    grid-area: sidebar;
    padding-right: 1.5rem;
    z-index: 1002;

    & > div {
      position: sticky;
      top: calc(var(--main-header-height) + 1rem);
      z-index: 2;
      @apply bg-base-200 rounded-box shadow-lg p-2;
      overflow: hidden;
      max-height: calc(100vh - var(--main-header-height) - var(--main-footer-height) - 2rem);

      & > nav {
        overflow-x: hidden;
        overflow-y: auto;
        max-height: calc(100vh - var(--main-header-height) - var(--main-footer-height) - 3rem);
      }
    }
  }
  & > main {
    grid-area: main;
    display: grid;
    grid-template-columns: minmax(calc(80% - 1.5rem), auto) minmax(20%, 1fr);
    gap: inherit;
    grid-template-areas: "content toc";
    padding-right: .5rem;
    padding-left: .5rem;
    /* margin-right: auto; */
    /* margin-left: auto; */
    
    & > div {
      grid-area: content;
    }

    & > aside {
      grid-area: toc;
      padding-right: .5rem;
      z-index: 1002;

      & > div {
        position: sticky;
        top: calc(var(--main-header-height) + 1rem);
        right: 0.5rem;
        @apply bg-base-200 rounded-box shadow-md p-1;
        overflow: hidden;
        max-height: calc(100vh - var(--main-header-height) - var(--main-footer-height) - 1.5rem);
        
        & > nav {
          overflow-x: hidden;
          overflow-y: auto;
          max-height: calc(100vh - var(--main-header-height) - var(--main-footer-height) - 2.5rem);
        }
      }
    }
  }
}


