<nav id="site-nav">
    {%- set navPages = collections.allPathSorted | eleventyNavigation %}
    {%- macro renderNavListItem(entry) -%}
    <li{# data-nav-key="{{ entry.key }}" data-nav-parent="{{ entry.parent | d('top') }}"#}>
        <a{% if entry.url == page.url %} class="active"{% endif %} href="{{ entry.url }}" >{{ entry.title }}</a>
        {%- if entry.children.length -%}
        <ul>
            {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
        {%- endif -%}
    </li>
    {%- endmacro %}

    <ul class="menu menu-sm">
    {%- for entry in navPages %}{{ renderNavListItem(entry) }}{% endfor -%}
    </ul>   
</nav>
