<nav id="site-nav">
    {%- set navPages = collections.allPathSorted | eleventyNavigation %}
    {%- macro renderNavListItem(entry) -%}
    <li{# data-nav-key="{{ entry.key }}" data-nav-parent="{{ entry.parent | d('top') }}"#}>
        <a{% if entry.url == page.url %} class="active"{% endif %} href="{{ entry.url }}" >{{ entry.title }}</a>
        {%- if entry.children.length -%}
        <ul>
            {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
        {%- endif -%}
    </li>
    {%- endmacro %}
    {% set index = navPages[0] %}

    <ul class="menu menu-sm">
        <li{# data-nav-key="{{ index.key }}" data-nav-parent="{{ index.parent | d('top') }}"#}>
            <a{% if index.url == page.url %} class="active"{% endif %} href="{{ index.url }}" >{{ index.title }}</a>
        </li>
        {%- for entry in index.children %}{{ renderNavListItem(entry) }}{% endfor -%}
    </ul>   
</nav>
