<div class="navbar bg-neutral text-neutral-content py-2">
    <div class="brand">
        <img class="btn btn-lg btn-ghost" src="/assets/images/niime-logo-white.svg">
    </div>
    <div class="title">
        <div class="text-2xl">{{ site.title }}</div>
        <div class="text-xs">{{ site.description }}</div>
    </div>
</div>
