<!DOCTYPE html>
<html lang="ru">
<head>
    {% include 'html-head.njk' %}
</head>
<body>
  <header>
    {% include 'html-header.njk' %}
  </header>
  <div id="content">
    <aside>
      <div>
        {% include 'html-nav.njk' %}
      </div>
    </aside>
    <main>
      <div class="prose prose-md max-w-none pt-10">
        <div >
          <h1>{{ title }}</h1>
        </div>
        <hr>
        {{ content | safe }}
      </div>
      {%- if content | toc %}
      <aside id="page-nav">
        <div>
        {{ content | toc(wrapper='nav',wrapperClass='',headingClass='menu-title',headingText='Содержание',heading=true,headingClass='menu-title',headingLevel='p',tags=['h2', 'h3', 'h4'],listType='ul',listClass='menu menu-xs',listItemClass='nav-item',listItemAnchorClass='nav-link') | safe }}
        </div>
      </aside>
      {%- endif %}
    </main>
  </div>
  <footer>
    {% include 'html-footer.njk' %}
  </footer>
  <script type="module" src="/assets/js/script.js"></script>
</body>
</html>
