---
layout: outer-print.njk
---

{%- set contentPages = collections.allPathSorted | eleventyNavigationContent %}
{%- set contentLevel = 0 %}

{%- macro renderContent(entry, scope, level) -%}
    {% set slug = entry.url | slugify %}
    <!-- <small>{{ entry.url }} - '{{ scope }}' - '{{ slug }}' - {{ level }}</small> -->
    <section>
    <h{{ level+1 }} id="{{ slug }}" class="chapter" data-level="{{level}}">{{ entry.title | safe }}</h{{ level+1 }}>
    <hr>
    {%- set sectionHtml %}
    {{ entry.content | safe }}
    {% endset -%}
    {{ sectionHtml | shiftHeaderLevel(slug, level) | safe }}

    {%- if entry.children.length -%}
    {%- for child in entry.children %}{{ renderContent(child, slug, level+1)}}{% endfor -%}
    {%- endif -%}
    </section>
{%- endmacro %}
{% set indexPage = contentPages[0] %}

<!-- <small>{{ indexPage.url }} - '{{ scope }}' - '{{ slug }}' - {{ contentLevel }}</small> -->
<section>
<h1 id="{{ indexPage.title | slugify }}" class="chapter" data-level="0">{{ indexPage.title | safe }}</h1>
<hr>
{{ indexPage.content | safe }}
</section>

{%- for entry in indexPage.children %}
{{ renderContent(entry, "", contentLevel) }}
{% endfor -%}
