@import 'base/layout';
@import 'base/fonts';
@import 'base/admonitions';


html {
  font-family: PT Astra Sans, sans-serif;
  scroll-behavior: smooth;
}

*, ::after, ::before {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a {
  scroll-margin-top: 6rem;
}

pre {
  /* line-height: 1.75; */
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1em;
  padding-inline-end: 1.5em;
  padding-bottom: 1em;
  padding-inline-start: 1.5em ;
  color: lightgray;
  background-color: darkslategray;
}

pre > code {
  padding: 0.2em 0.4em;
  color: lightgray;
  background-color: darkslategray;
}

code {
  padding: 0.2em 0.4em;
  color: darkslategray;
  background-color: lightgray;
}

kbd {
  font-weight: 500;
  font-family: inherit;
  color: darkslategray;
  box-shadow: 0 0 0 1px darkslategray, 0 3px 0 darkslategray;
  font-size: 87.5%;
}


code, kbd, samp, pre {
  white-space: pre-wrap;
  white-space-collapse: preserve;

  font-family: PT Mono, ui-monospace, monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 85%;
  padding-top: 0.1875em;
  padding-inline-end: 0.375em;
  padding-bottom: 0.1875em;
  padding-inline-start: 0.375em;
  border-radius: 0.3125rem;
}

blockquote {
  margin-left: 0;
  padding: 0 15px;
  color: dimgray;
  border-left: 4px solid dimgray;
}

img {
  width: 100%;
  height: auto;
}



.example {
  padding: 1rem;
  color: lightgrey;
  background: darkslategray;
}

figure.example {
  margin-inline: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: start;
}

.example iframe, .example div {
  display: block;
  width: 100%;
  border: 0;
  color: black;
  background-color: lightgray;
}


table {
  border: 1px solid #8888;
}

td, th {
  border: 1px solid #8888;
}
/* table.fs-tree-table  { */
  /* display: table; */
  /* font-size:12px; */
  /* border: none; */
/* } */

table.fs-tree-table tbody {
  border: 1px solid #8888;
  /* overflow: hidden; */
}
table.fs-tree-table tr td {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.0;
}
/* table.fs-tree-table td, table.fs-tree-table th { */
  /* border: none; */
/* } */

table.fs-tree-table tr td:first-child {
  font-family: monospace;
  border-bottom: none;
  border-top: none;
  white-space: pre;
}
